.background-color {
    background-color:grey; 
}

#navbar {
    background-color:black !important;
    font-family: 'Be Vietnam', sans-serif;
    font-weight: bolder;
}

.nav-link {
    background-color: rgba(255, 255, 255, 0.397);
    color: orangered !important;  
}

button.navbar-toggler {
    background-color: #343a40;
}

button.navbar-toggler:active {
    background-color: gray;
}

.navbar-brand {
    color: orangered !important;
    font-weight: bold;
}
#mySched {
    padding-top: 70px;
    padding-bottom: 20px !important;
    color: orangered;
    font-family: 'Be Vietnam', sans-serif;
    font-weight: bold;
}

.table {
    border: 2px solid;
    border-color: orangered;
    border-radius: 5px !important;
}

.Days {
    width: 10vw;
    height: 20vh;
    border: 2px solid;
    border-color: orangered;
    border-radius: 5px !important;
    background-color: #343a40;
    color: white;
    font-family: 'Be Vietnam', sans-serif;
}

.workoutPlan {
    width: 30vw;
    height: 20vh;
    border: 2px solid;
    border-color: orangered;
    border-radius: 5px !important;
    background-color:  #343a40;
}

.pagination {
    justify-content: center !important;
}

.pagination {
    margin-top: 20px;
    padding-top: 10px;
}

.active {
    display:none !important;
}

#pageNumber {
    display:none !important;
} 

footer {
    display: flex;
    flex-direction: column;
    padding-bottom: .2rem;
    margin-top: 30px;
    background-color: #343a40 !important;
}

.footer-text {
    text-align: center;
    font-family: 'Be Vietnam', sans-serif;
}
      